{% extends 'core/base.html' %}
{% block title %}Blog{% endblock title %}
{% load static %}
{% block content %}
{% for post in posts%}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-innerv text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">{{ post.published|date:'d/m/Y' }}</span>
            <span class="section-heading-lower">{{ post.title }}</span>
          </h2>

          {% if post.image %}
          <p class="mb-0">
            <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ post.image.url }}"
              alt="">
          </p>
          {% endif %}

          <p class="mb-0 mbt">{{ post.content|safe }}</p>
          <p class="mb-0 mbt">
            <span class="section-heading-under">Publicado por <em><b>{{ post.author.username|title }}</b></em> en
              {% with cats=post.categories.all %}
                {% for cat in cats %}
                <em><a href="{% url 'category' category_id=cat.id %}"class="link">{{ cat.name }}</a></em>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              {% endwith %}
            </span>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
{% empty %}
<h2 style="color: white;">Nothing Here!</h2>
{% endfor %}

{% endblock content %}