{% extends 'core/base.html' %}
{% block title %}Historia{% endblock title %}
{% load static %}
{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Tradición familiar italiana</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>
              Hace ya más de tres décadas, en 1987, nuestra cafetería italiana en Barcelona abrió sus puertas por primera
              vez como un modesto y acogedor rincón familiar. La pasión por el café y la tradición italiana fueron los
              cimientos de nuestro negocio, y desde entonces, hemos dedicado cada día a perfeccionar la mezcla perfecta de
              sabores y aromas que nos caracteriza.
            </p>

            <p>
              Lo que comenzó como un sueño de una familia apasionada por el café y el té se ha convertido en un punto de
              referencia para los amantes de las bebidas calientes y la bollería artesanal en Barcelona. A lo largo de los
              años, hemos mantenido vivo el espíritu original, y cada taza que servimos y cada pastel que horneamos son un
              tributo a nuestra herencia italiana y al amor que sentimos por lo que hacemos.
            </p>

            <p>
              Seguimos siendo una cafetería familiar, y nuestro compromiso con la calidad y la autenticidad continúa
              siendo la fuerza impulsora de nuestro negocio. Nos enorgullece ser parte de la vida de nuestra comunidad, y
              esperamos seguir siendo tu destino favorito para disfrutar de un buen café o té durante muchas décadas más.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}